body {
  background: pink;

  div {
    background: green;
  }

  span{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transition: all 1s;
  }

  h3 {
    color: red;
  }
}

@import 'style.css';
