<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="./favicon.ico">

  <link rel="stylesheet" type="text/html" href="./css/styles.css">

  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div id="app">qwe</div>
</body>
</html>
